/* Country details and back button in Country container */
.country {
  width: 100%;
  height: 90.5vh;
  display: flex;
  flex-direction: column;
}
/* Country details */
.country-inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto auto auto 60px;
}
/* back button */
.back {
  height: 40px;
  width: 140px;
  background-color: white;
  box-shadow: hsl(0, 0%, 85%) 0px 5px 15px;
  border: none;
  padding: 11px 18px 10px 18px;
  margin: 40px 0px 40px 160px;
  border-radius: 5px;
  cursor: pointer;
}
/* back div text */
.back div {
  text-decoration: none;
}
/* Country info  */
.country-details {
  height: 300px;
  width: 500px;
  display: flex;
  /* border: 2px solid green; */
  flex-direction: column;
}
/* main country details */
.c-details {
  height: 160px;
  width: 500px;
  /* border: 2px solid blue; */
  display: flex;
  justify-content: space-between;
  margin: 20px 0px 35px 0px;
}

h5 span {
  font-weight: 400;
}
/* border details container */
.border-details {
  display: flex;
}
/* border details */
.borders {
  /* border: 2px solid green; */
  height: 80px;
  width: 360px;
  display: grid;
  grid-template-columns: repeat(4, 80px);
  column-gap: 10px;
}
/* border country block */
.b-country {
  height: 25px;
  width: 80px;
  border: 1px solid lightgray;
  border-radius: 3px;
  font-size: small;
  text-align: center;
  padding-left: 25px;
  padding-top: 4px;
  background-color: white;
}
/* Country flag image */
.flag img {
  height: 350px;
  width: 500px;
  border-radius: 0%;
}

.border-details h5 {
  margin-top: 3px;
  margin-right: 15px;
}

/* No border countries Content */
.borders span {
  height: 25px;
  width: 150px;
}

h2 {
  margin: 0%;
}

h5 {
  margin-top: 0%;
  margin-bottom: 10%;
}
