/* Countries container */
.countries {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 220px);
  row-gap: 50px;
  column-gap: 52px;
  align-items: center;
  justify-content: center;
}
/* Country Card */
.c-card {
  background-color: white;
  box-shadow: hsl(0, 0%, 75%) 0px 5px 15px;
  height: 290px;
  width: 220px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin-left: 0%;
  cursor: pointer;
}

/* Country Name */
.c-card h4 {
  margin: 20px 0px 10px 30px;
  font-weight: 600;
}
/* Country Details */
.c-card p {
  margin: 0%;
  font-size: 14px;
  margin-left: 30px;
}
/* Countries images */
img {
  height: 130px;
  border-radius: 5px 5px 0px 0px;
}
/* Not found Content */
.not-found {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}
