/* Filter Fields Container */
.filters {
  width: 800px;
}
/* Filter Form */
form {
  display: flex;
  justify-content: space-around;
}
/* Filter Field */
.filter-field {
  height: 40px;
  width: 180px;
  font-size: 16px;
  background-color: white;
  box-shadow: hsl(0, 0%, 85%) 0px 5px 15px;
  border: none;
  outline: none;
  color: gray;
  padding-left: 15px;
}
