/* Search bar */
.search {
  height: 40px;
  width: 200px;
  display: flex;
  background-color: white;
  box-shadow: hsl(0, 0%, 85%) 0px 5px 15px;
  padding-left: 15px;
}
/* Search Input */
input {
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 30px;
  font-size: 16px;
  width: 150px;
}
/* Search Icon */
.srch-icon {
  height: 40px;
}
