/* Header of the Page */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  box-shadow: hsl(0, 0%, 95%) 0px 5px 2px;
  align-items: center;
}

/* Theme Mode */
.theme-mode {
  display: flex;
  justify-content: space-around;
  margin: 20px 30px 0px 0px;
}

/* Theme mode button */
button {
  height: 40px;
  width: 100px;
  display: flex;
  background-color: transparent;
  border: none;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
}

/* Header title */
h3 {
  margin: 8px 0px 8px 35px;
}
