.srch-sel {
  height: 10%;
  width: 78%;
  display: flex;
  justify-content: space-between;
  margin-left: 155px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: left;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* .App {
  width: 100%;
}
 */